* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

html {
  font-size: 62.5%;

  @include media(large){
    font-size: 50%;
  }

  @include media(small){
    font-size: 37.5%;
  }
}

body {
  font-family: 'Ubuntu', Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    $lightColor,
    $darkColor  
  );
  background-repeat: no-repeat;
  color: $darkGreyColor2;
  
  
  min-height: 100vh;
}
