
// Colors: 

$color: #EB2F64;
$lightColor: #FF3366;
$darkColor: #BA265D;

$whiteColor: #FFF;
$blackColor: #111;

$lightGreyColor: #CCC;

$darkGreyColor1: #333;
$darkGreyColor2: #777;

// description boxes: 
$shadow-boxes: 0 2rem 4rem rgba($blackColor, .2);
$padding-for-boxes:  4rem 3rem;
$padding-for-boxes-media:  4rem 1.5rem;